// --------------------------------------------
// Colors -------------------------------------
// Usage example: color(primary, main)
// --------------------------------------------
$color: (
  typography: (
    1: #202b36,
    2: #5b6f82,
    3: #92a2b1,
    1i: #fff,
    2i: rgba( #fff, .8 )
  ),
  bg: (
    1: #fff,
    2: #f6f8fa,
    3: #e3e7eb
  ),
  primary: (
    1: #4992f0,
    2: #75abf3,
    3: #1274ed,
   ),
   secondary: (
    1: #838dea,
    2: #a0a6ee,
    3: #626cd5
   ),
   additional: (
    1: #7ce8dd,
    2: #a0eee5,
    3: #39d8c8
   ),
  additional-2: (
    1: #ff6d8b,
    2: #ff97ac,
    3: #ff4f73
  ),
);

// --------------------------------------------
// Typography ---------------------------------
// --------------------------------------------
$font__family: (
  base: '"IBM Plex Sans", sans-serif', // font-family(base)
  heading: '"Fira Sans", sans-serif', // font-family(heading)
  code: 'Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace', // font-family(code)
  pre: '"Courier 10 Pitch", Courier, monospace' // font-family(pre)
);

$font__sizes: (
  alpha:   ( 42px, 52px, -0.1px ), // font-size, line-height, kerning (use '0' if don't want to output any kerning)
  beta:    ( 36px, 46px, -0.2px ),
  gamma:   ( 30px, 40px, -0.1px ),
  delta:   ( 20px, 30px, -0.1px ),
  epsilon: ( 18px, 27px, -0.1px ),
  zeta:    ( 16px, 24px, -0.1px ),
  eta:     ( 14px, 20px, 0px ),
  theta:   ( 13px, 18px, 0px )
);

$font__scale: (
  desktop: (                             // i.e. $breakpoint__m + $breakpoint__l (600 - 1024)
    1: map-get($font__sizes, alpha),   // H1
    2: map-get($font__sizes, beta),    // H2
    3: map-get($font__sizes, gamma),   // H3
    4: map-get($font__sizes, delta),   // H4, H5, H6
    5: map-get($font__sizes, delta),   // Body
    6: map-get($font__sizes, epsilon), // Text small (e.g. features description)
    7: map-get($font__sizes, zeta),    // Text smaller (e.g. pricing table's lists)
    8: map-get($font__sizes, eta),     // Footer area
    9: map-get($font__sizes, theta)    // Header links, buttons
  ),
  mobile: (                              // i.e. $breakpoint__xs + $breakpoint__s (up to 600)
    1: map-get($font__sizes, beta),    // H1
    2: map-get($font__sizes, gamma),   // H2
    3: map-get($font__sizes, delta),   // H3
    4: map-get($font__sizes, epsilon), // H4, H5, H6
    5: map-get($font__sizes, epsilon), // Body
    6: map-get($font__sizes, epsilon), // Text small (e.g. features description)
    7: map-get($font__sizes, zeta),    // Text smaller (e.g. pricing table's lists)
    8: map-get($font__sizes, eta),     // Footer area
    9: map-get($font__sizes, theta)    // Header links, buttons
  )
);

$font__weight: (
  regular: 400,  // font__weight(regular)
  medium: 500,  // font__weight(medium)
  semibold: 600,  // font__weight(semi-bold)
  bold: 700  // font__weight(bold)
);

// --------------------------------------------
// Structure ----------------------------------
// --------------------------------------------
$content__padding: (
  mobile: 16px,
  desktop: 24px
);

$container__width: 1080px;
$container__width-sm: 800px;
